<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jeehan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/png" href="/pic/opo.jpg">

</head>

<body>

    <!-- Header -->
    <header>
        <nav>
            <div class="logo"><img src="/pic/logo.jpg" alt=""></div>
            <div class="hamburger" onclick="toggleMenu()">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <ul class="nav-links">
                <li><a href="#about">About</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="/pic/jeehan products.pdf" download="MyPDF.pdf">Products</a>
                </li>
            </ul>
            <div>
            <button class="btn"><a href="#end">Contact</a></button>
            <button class="btn"><a href="/pic/jeehan products.pdf" download="MyPDF.pdf">Products</a></button>
            </div>
        </nav>
    </header>
    <!-- slider -->
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><img src="/pic/Manager.jpeg" alt=""></div>
          <div class="swiper-slide"><img src="/pic/Team-Leader-1024x576.jpg" alt=""></div>
          <div class="swiper-slide"><img src="/pic/The-Lobb-Report-August-2023-Business-and-Business-Owner-Updates.jpg" alt=""></div>
        </div>
      </div>

    <!-- Services Section -->
    <section class="services" id="about">

        <img src="/pic/new.jpg" alt="">

        <div class="box-x">
            <h2>About Us</h2>
            <p>Jeehan Marketing (A Unit of Jeehan Business Solutions Pvt. Ltd.) is a company of smart, ambitious
                professionals working together across a multitude of disciplines. Together, we are building a better health /
                financial future for our members and our communities around the nation.
                At Jeehan Marketing, we understand that a company is only as good as its people. This simple fact is
                central
                to all that we do.
                To provide the best business opportunity. To deliver exceptional quality of essential products which
                everybody bound to purchase day to day life for alive. We're only as good as our talent dedicated
                professionals whose insights, innovation, and hard work fuel our success and make us a national leader
            </p>
        </div>
    </section>

    <!-- Hero Section -->
    <section class="hero">
        <div class="box">
            
            <h1>Our Mission</h1>
            <p>To help our members achieve health / financial prosperity and peace of mind. </p>
            
            
            <h1>Our Vision </h1>
            <p>To distinguish Jeehan Marketing as an admired national leader, trusted partner, and provider of
                innovative solutions for growing and protecting health / wealth. </p>
                
                <h1>Our Core </h1>
                <p>Our core value are the principles that guide us daily in helping our members achieve health / financial prosperity
                    and peace of mind. At all times, we strive to distinguish Jeehan Marketing as an admired national leader
                    and trusted brand that is differentiated by top talent and innovative solutions for all stages of life.
                    We are passionate about becoming the unrivaled industry leader by achieving superior results for our
                    members and communities.</p>
                </div>
                <img src="/pic/close-up-doctor-with-stethoscope_23-2149191355.png" alt="">
    </section>
    <!-- services section -->
    <div class="ser" id="services">
        <h1>Jeehan assist to healthcare services    </h1>
        <div class="ser-img">
            <div>
            <img src="/pic/Home_delivery_pharmacy.webp" alt=""><p>Medicine
                Delivery</p>
            </div>
            <div>
            <img src="/pic/s2.jpg" alt=""><p>Offline
                Consultations</p>
            </div>
            <div>
            <img src="/pic/Online-Doctor-Consultation-1024x683.jpg" alt=""><p>Online
                Consultations</p>
            </div>
            <div>
            <img src="/pic/surgery020717.jpg" alt=""><p>Surgery
                Care</p>
            </div>
            <div>
            <img src="/pic/blood_test_samples_1200x750-59cd6b99366c6e716576ccd68351ed39.jpg" alt=""><p>Lab Tests
                at Home</p>
            </div>
            <div>
                <img src="/pic/farma.jpg" alt=""><p>Pharmacy</p>
                </div>
        </div>
        <div class="p-box">
            <p>There is a gap in India between people who need to take care of their health, and the professionals
                equipped to help them do so. People have a lack of trust around pricing and quality, and tend to delay
                getting care for seemingly small issues. Our goal since the beginning has been to make accessing health
                and care less complicated for our customers. Today, whether it is a vaccination, relief for a teething
                child, or your general checkups, Jeehan and partner are able to help you find a quality provider near you. As we grow, we are bringing in more personalization and more services to help you
                holistically manage your day-to-day health needs, and put more control of taking care of your health in
                your hands. </p>
        </div>
        
    </div>

    <!-- <section class="cta" id="end">
        <div class="contact-info">
            <h2>Contact Info</h2>
            <div class="info-item">
                <i class="fas fa-map-marker-alt"></i>
                <span class="label">Reg. Office  :</span>
                <p>M/S Vandana Alpyne Projects, Block A-307, HSR Layout, Bengaluru, Karnataka-560068., </p>
            </div>
            <div class="info-item">
                <span class="label">Branch Office :</span>
                <p>C/O Jeehan Business Solutions Pvt. Ltd. Flat No: G7 (Mezzanine Floor),
                    Gharounda Complex, Bailey Road,
                    Jegdeo Path, Patna, Bihar-800014. </p>
            </div>
            <div class="info-item">
                <i class="fas fa-envelope"></i>
                <span class="label">Email :</span>
                <p>
                    <a href="mailto:info@jeehanmarketing.in">jeehanmarketing@gmail.com , jeehanbs@gmail.com</a><br>
                </p>
            </div>
        </div>
        
    </section>


    <footer>
        <p>Copyright 2025 @JEEHAN. All rights reserved.</p>
    </footer> -->
    <footer class="footer">
        <div class="footer-container">
          <div class="footer-section">
            <h4>Reg. Office  :</h4>
            <p>M/S Vandana Alpyne Projects, Block A-307, HSR Layout, Bengaluru, Karnataka-560068., </p>
          </div>
          <div class="footer-section">
            <h4>Branch Office :</h4>
            <p>C/O Jeehan Business Solutions Pvt. Ltd. Flat No: G7 (Mezzanine Floor),
                Gharounda Complex, Bailey Road,
                Jegdeo Path, Patna, Bihar-800014.  </p>
          </div>
          <div class="footer-section">
            <h4>Contact:</h4>
            <p>
              <strong>Email:</strong> <a href="mailto:jeehanmarketing@gmail.com">jeehanmarketing@gmail.com</a><br>
            </p>
          </div>
          <div class="footer-section">
            <p>Copyright 2025 @JEEHAN. All rights reserved.</p>
          </div>
        </div>
      </footer>
    <script>
        function toggleMenu() {
            document.querySelector(".nav-links").classList.toggle("active");
        }

        let index = 0;

    </script>
      <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
      <script>
        var swiper = new Swiper(".mySwiper", {
          spaceBetween: 30,
          centeredSlides: true,
          autoplay: {
            delay: 2500,
            disableOnInteraction: false,
          },
          pagination: {
            el: ".swiper-pagination",
            clickable: true,
          },
          navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
          },
        });
      </script>
</body>

</html>

<!-- <h1>Welcome to Insurance Records</h1>
    <a href="/records">View Records</a> -->